In [1]:
import pandas as pd

In [2]:
path = "landmarks_dataset_M_A_H_W.csv"
df = pd.read_csv(path) 
print(df)
columns_with_negatives = df.columns[(df < 0).any()] 
print(columns_with_negatives)
print(len(columns_with_negatives))

         0    1    2    3    4    5    6    7    8    9  ...  231  232  233  \
0      349  397  340  310  341  334  339  282  336  243  ...  494  460  402
1      293  394  304  316  302  338  305  288  307  250  ...  515  413  425
2      346  396  339  310  340  334  338  282  335  243  ...  498  458  403
3      294  392  297  292  298  324  298  263  299  224  ...  474  399  423
4      341  388  335  292  338  323  334  263  333  225  ...  458  445  414
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
13775  333  411  334  316  332  343  333  287  332  248  ...  504  426  431
13776  314  414  316  309  316  339  316  280  316  242  ...  508  415  442
13777  344  385  338  296  338  324  336  266  332  229  ...  500  450  405
13778  302  382  313  296  310  323  314  268  316  231  ...  518  411  421
13779  340  386  335  296  335  323  334  267  331  229  ...  500  447  407

       234  235  236  237  238  239  label
0      434  409  388  281  618  183      0
1      387  427  356  292  629  200      0
2      433  409  386  281  619  184      0
3      376  426  350  268  621  226      0
4      422  418  386  266  641  214      0
...    ...  ...  ...  ...  ...  ...    ...
13775  401  436  380  289  614  195      0
13776  391  445  364  284  626  206      0
13777  423  411  385  268  612  190      0
13778  384  423  364  274  633  209      0
13779  420  413  383  268  619  188      0

[13780 rows x 241 columns]
Index(['13', '22', '23', '40', '41', '44', '49', '55', '57', '76', '87', '89',
       '91', '93', '96', '98', '112', '113', '134', '137', '155', '163', '169',
       '171', '199', '201', '203', '205'],
      dtype='object')
28

In [3]:
columns_to_drop = list(columns_with_negatives)
nonminus= []
for idx in columns_to_drop:
    col = int(idx)
    if col % 2==0:
        nonminus.append(str(col + 1))
    else:
        nonminus.append(str(col + 1))

In [4]:
realCol= list(columns_to_drop) + nonminus
print(realCol)
print(len(realCol))
df = df.drop(columns = realCol)

['13', '22', '23', '40', '41', '44', '49', '55', '57', '76', '87', '89', '91', '93', '96', '98', '112', '113', '134', '137', '155', '163', '169', '171', '199', '201', '203', '205', '14', '23', '24', '41', '42', '45', '50', '56', '58', '77', '88', '90', '92', '94', '97', '99', '113', '114', '135', '138', '156', '164', '170', '172', '200', '202', '204', '206']
56

In [5]:
print(df)

         0    1    2    3    4    5    6    7    8    9  ...  231  232  233  \
0      349  397  340  310  341  334  339  282  336  243  ...  494  460  402
1      293  394  304  316  302  338  305  288  307  250  ...  515  413  425
2      346  396  339  310  340  334  338  282  335  243  ...  498  458  403
3      294  392  297  292  298  324  298  263  299  224  ...  474  399  423
4      341  388  335  292  338  323  334  263  333  225  ...  458  445  414
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
13775  333  411  334  316  332  343  333  287  332  248  ...  504  426  431
13776  314  414  316  309  316  339  316  280  316  242  ...  508  415  442
13777  344  385  338  296  338  324  336  266  332  229  ...  500  450  405
13778  302  382  313  296  310  323  314  268  316  231  ...  518  411  421
13779  340  386  335  296  335  323  334  267  331  229  ...  500  447  407

       234  235  236  237  238  239  label
0      434  409  388  281  618  183      0
1      387  427  356  292  629  200      0
2      433  409  386  281  619  184      0
3      376  426  350  268  621  226      0
4      422  418  386  266  641  214      0
...    ...  ...  ...  ...  ...  ...    ...
13775  401  436  380  289  614  195      0
13776  391  445  364  284  626  206      0
13777  423  411  385  268  612  190      0
13778  384  423  364  274  633  209      0
13779  420  413  383  268  619  188      0

[13780 rows x 188 columns]

In [6]:
df.to_csv('real_dataset_M_A_W_H.csv')